{% extends "shell.html" %}

{% block content %}

  <section class="recent">
    <h1>Archived Shows</h1>

    <dl>
      <dt><a href="http://life-in-overdrive.pinecast.co">Life In Overdrive</a></dt>
      <dd>Kier Harris talks to people that live life to the extreme</dd>
      <dt><a href="http://tsk.pinecast.co" target="_blank">That's So Kawaii</a></dt>
      <dd>Mark and AJ take you inside the seasonal anime currently airing in Japan and do a little free-stlying about some of their all-time favorites</dd>
    </dl>

  </section>

{% endblock %}
