{% extends "shell.html" %}

{% block content %}
  <aside class="main-sidebar">
    {% for item in youtubeFeed %}
    <article style="background-image: url({{ item.snippet.thumbnails.medium.url }})">
      <i class="icon-youtube-play"></i>
      <a href="https://www.youtube.com/watch?v={{ item.id.videoId }}">
        <h1>{{ item.snippet.title }}</h1>
        <p>{{ item.snippet.description }}</p>
      </a>
    </article>
    {% endfor %}

  </aside>

  <section class="recent">
    <h1>Recent Content</h1>

    {% for item in feeds %}
    <article class="recent-item podcast-{{ item.__id }}">
      <aside>
        <img src="images/logo_{{ item.__id }}.png" alt="" height="100" width="100">
      </aside>
      <hgroup>
        <h1>{{ item.title[0] }}</h1>
        <h2>{{ feedNames[item.__id] }}</h2>
      </hgroup>

      <p>
        {{ item.description[0] }}
      </p>
      <p class="posted"><i class="icon-calendar"></i>{{ item.__dateRel }}</p>

      <nav>
        {% if iTunesPages[item.__id] %}
          <a href="{{ iTunesPages[item.__id] }}" class="button"><i class="icon-itunes"></i>Visit on iTunes</a>
        {% endif %}
        <a href="/feeds/rss/{{ item.__id }}" class="button"><i class="icon-rss"></i></a>
        <a href="{{ item.link[0] }}" target="_blank" class="button">Listen Now</a>
      </nav>
    </article>
    {% endfor %}

  </section>

{% endblock %}
