{% extends "shell.html" %}

{% block content %}
  <aside class="main-sidebar">
    <article style="background-image: url(https://i.ytimg.com/vi_webp/YI_tdXwA74M/mqdefault.webp)">
      <i class="icon-youtube-play"></i>
      <a href="#">
        <h1>Life is Strange Episode 1 Part 1</h1>
        <p>A playthrough of the game Life is Strange by Doug of the Almost Better Than Silence podcast.</p>
      </a>
    </article>

    <article style="background-image: url(https://i.ytimg.com/vi_webp/GMN1dp9RDlM/mqdefault.webp)">
      <i class="icon-youtube-play"></i>
      <a href="#">
        <h1>It Came From Space and Ate Our Brains - Block Hospital on INSANE</h1>
        <p>A playthrough of the game Life is Strange by Doug of the Almost Better Than Silence podcast.</p>
      </a>
    </article>

  </aside>

  <section class="recent">
    <h1>Recent Content</h1>

    {% for item in feeds %}
    <article class="recent-item podcast-{{ item.__id }}">
      <aside>
        <img src="images/logo_{{ item.__id }}.png" alt="" height="100" width="100">
      </aside>
      <hgroup>
        <h1>{{ item.title[0] }}</h1>
        <h2>{{ feedNames[item.__id] }}</h2>
      </hgroup>

      <p>
        {{ item.description[0] }}
      </p>
      <p class="posted"><i class="icon-calendar"></i>{{ item.__dateRel }}</p>

      <nav>
        <a href="{{ iTunesPages[item.__id] }}" class="button"><i class="icon-itunes"></i>Visit on iTunes</a>
        <a href="{{ RSSFeeds[item.__id] }}" class="button"><i class="icon-rss"></i></a>
        <a href="{{ item.link[0] }}" target="_blank" class="button">Listen Now</a>
      </nav>
    </article>
    {% endfor %}

  </section>

{% endblock %}
