<!DOCTYPE html>
<html>
<head>
  <title>Almost Better Network</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <nav class="main-nav">
    <div class="container">
      <h1>ABN</h1>
      <ul>
        <li>
          <a class="shows-toggle" href="/shows">
            Shows<i class="icon-angle-down"></i>
          </a>
          <menu class="show-list hidden">
            <li>
              <a href="http://almostbetterthansilence.com/dragons">Almost Better Than Dragons</a>
              <small>A dungeons and dragons adventure by the cast of Almost Better Than Silence</small>
            </li>
            <li>
              <a href="http://almostbetterthansilence.com">Almost Better Than Silence</a>
              <small>A show about technology and gaming on the internet</small>
            </li>
            <li>
              <a href="http://presscontinue.podbean.com" target="_blank">Press Continue Podcast</a>
              <small>Nostalgia in the form of retro and card gaming, arcade adventures, and board game conversations</small>
            </li>
          </menu>
        </li>
        <li><a href="http://almostbetterthansilence.com/hosts/">Cast</a></li>
        <li><a href="http://almostbetterthansilence.com/contact-us/">Contact</a></li>
      </ul>
    </div>
  </nav>

  <header>
    <div class="hero">
      <nav class="show-list">
        <h2>Podcasts</h2>
        <ul>
          <li><a href="http://almostbetterthansilence.com/dragons">Almost Better Than Dragons</a></li>
          <li><a href="http://almostbetterthansilence.com">Almost Better Than Silence</a></li>
          <li><a href="http://presscontinue.podbean.com" target="_blank">Press Continue Podcast</a></li>
        </ul>
      </nav>
      <div class="blowout">
        Almost Better<br>
        <em>Network</em>
      </div>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <i class="icon-cc"></i>This site is made available as <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0</a>.
  </footer>

  <script src="main.js"></script>

</body>
</html>
