<!DOCTYPE html>
<html>
<head>
  <title>Almost Better Network</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <nav class="main-nav">
    <div class="container">
      <h1>ABN</h1>
      <ul>
        <li>
          <a class="shows-toggle" href="#">
            Shows<i class="icon-angle-down"></i>
          </a>
          <menu class="show-list hidden">
            <li>
              <a href="http://abtd.pinecast.co">Almost Better Than Dragons</a>
              <small>A dungeons and dragons adventure by the cast of Almost Better Than Silence</small>
            </li>
            <li>
              <a href="http://almostbetterthansilence.com">Almost Better Than Silence</a>
              <small>A show about technology and gaming on the internet</small>
            </li>
            <li>
              <a href="https://dumbbellsanddragons.com/">Dumbbells and Dragons</a>
              <small>In a world where fitness and nerdiness collide, one man chooses to share the adventure with everyone.</small>
            </li>
            <li>
              <a href="http://eriecanaltheater.com">Erie Canal Theatre</a>
              <small>Erie Canal Theatre is a new ensemble creating art in Detroit.</small>
            </li>
            <li>
              <a href="https://onetrackgamers.wordpress.com/" target="_blank">One Track Gamers</a>
              <small>A Video Game podcast that has a conversation about the latest updates in games and nerdy news.</small>
            </li>
            <li>
              <a href="http://press-continue-podcast.pinecast.co" target="_blank">Press Continue Podcast</a>
              <small>Nostalgia in the form of retro and card gaming, arcade adventures, and board game conversations.</small>
            </li>
            <li>
              <a href="https://alternaterealityproductions.wordpress.com/" target="_blank">Paper News Out Loud</a>
              <small>An absurdist news comedy that just might make you laugh.</small>
            </li>
            <li>
              <a href="/archive">Archived Shows</a>
            </li>
          </menu>
        </li>
        <li><a href="http://almostbetterthansilence.com/hosts/">Cast</a></li>
        <li><a href="http://almostbetterthansilence.com/contact/">Contact</a></li>
      </ul>
    </div>
  </nav>

  <header>
    <div class="hero">
      <nav class="show-list">
        <h2>Podcasts</h2>
        <ul>
          <li><a href="http://abtd.pinecast.co" target="_blank">Almost Better Than Dragons</a></li>
          <li><a href="http://almostbetterthansilence.com" target="_blank">Almost Better Than Silence</a></li>
          <li><a href="https://dumbbellsanddragons.com/" target="_blank">Dumbbells and Dragons</a></li>
          <li><a href="http://eriecanaltheater.com" target="_blank">Erie Canal Theatre</a></li>
          <li><a href="https://onetrackgamers.wordpress.com" target="_blank">One Track Gamers</a></li>
          <li><a href="http://press-continue-podcast.pinecast.co" target="_blank">Press Continue Podcast</a></li>
          <li><a href="https://alternaterealityproductions.wordpress.com/" target="_blank">Paper News Out Loud</a></li>
        </ul>
      </nav>
      <div class="blowout">
        Almost Better<br>
        <em>Network</em>
      </div>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <i class="icon-cc"></i>This site is made available as <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0</a>.
  </footer>

  <script src="main.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-91087-30', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
